<div class="mb-4">
  <h4>Posts from <%= @user.username %></h4>
  <h6 class="text-secondary">
    <%= @user.posts.count %> posts and <%= @comments_count %> comments
  </h6>
</div>

<%= render 'posts/list', posts: @posts %>

