<nav class="navbar navbar-light bg-light">
  <%= link_to 'Blog Rails', root_path, class: 'navbar-brand' %>

  <ul class="nav justify-content-end">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
</nav>

