<h2 class='mb-4'>About</h2>

<div class='d-flex'>
  <%= image_tag 'profile.jpeg', class: 'w-25 h-25 img-thumbnail' %>

  <div class='ml-3'>
    <p>Hey, I'm Felipe Nolleto Nascimento and welcome to my Blog made with Ruby on Rails.</p>
    <p>The purpose of this web site is practicing Rails and have fun.</p>
    <p>If you'd like to follow me, here are my social network:</p>

    <p><a href='https://twitter.com/felipenolleto'>Twitter</a></p>
    <p><a href='https://github.com/nolleto'>Github</a></p>
    <p><a href='https://www.linkedin.com/in/felipe-nolleto-nascimento-a2a23788/'>Linkedin</a></p>
  </div>
</div>
