<div class='mb-4'>
  <h2><%= @post.title %></h2>

  <h6 class='text-secondary'>
    Submitted <%= time_ago_in_words(@post.created_at) %> Ago
  </h6>
</div>

<p><%= @post.body %></p>

<div class='d-flex justify-content-end'>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
</div>
